<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:urn="urn:schemas-microsoft-com:asm.v1" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="ComponentHost" namespace="ComponentHost.Transforms"/>
  
  <appSettings xdt:Transform="InsertIfMissing">

    <add key="Feature.Webhooks.FileSystem.Enabled"                          value="true" xdt:Locator="Condition(@key='Feature.Webhooks.FileSystem.Enabled')" xdt:Transform="Replace"/>

    <add key="Providers.FileSystemClientId"                                 value="" xdt:Locator="Condition(@key='Providers.FileSystemClientId')" xdt:Transform="Replace"/>
    <add key="Providers.FileSystemClientSecret"                             value="_value_" xdt:Locator="Condition(@key='Providers.FileSystemClientSecret')" xdt:Transform="Replace"/>

  </appSettings>

</configuration>

